Repository softozor/packages: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, publish-alpine-with-file, build, dotnet-tests, jelastic-client-tests, patch hasura handling, minor hasura handling, major hasura handling, patch graphql client dotnet, minor graphql client dotnet, major graphql client dotnet, patch faas client, minor faas client, major faas client, patch jelastic client, minor jelastic client, major jelastic client, patch graphql client python, minor graphql client python, major graphql client python, patch hasura client, minor hasura client, major hasura client, patch test utils, minor test utils, major test utils

Path conditions:
  lint: any of: pypi/**/*
  publish-alpine-with-file: any of: pypi/jelastic-client/test/docker/alpine-with-file/*
  build: any of: nuget/**/*
  dotnet-tests: any of: nuget/**/*
  jelastic-client-tests: any of: pypi/jelastic-client/**/*
  patch hasura handling: any of: nuget/Softozor.HasuraHandling/**/*
  minor hasura handling: any of: nuget/Softozor.HasuraHandling/**/*
  major hasura handling: any of: nuget/Softozor.HasuraHandling/**/*
  patch graphql client dotnet: any of: nuget/Softozor.GraphqlClient/**/*
  minor graphql client dotnet: any of: nuget/Softozor.GraphqlClient/**/*
  major graphql client dotnet: any of: nuget/Softozor.GraphqlClient/**/*
  patch faas client: any of: pypi/faas-client/**/*
  minor faas client: any of: pypi/faas-client/**/*
  major faas client: any of: pypi/faas-client/**/*
  patch jelastic client: any of: pypi/jelastic-client/**/*
  minor jelastic client: any of: pypi/jelastic-client/**/*
  major jelastic client: any of: pypi/jelastic-client/**/*
  patch graphql client python: any of: pypi/softozor-graphql-client/**/*
  minor graphql client python: any of: pypi/softozor-graphql-client/**/*
  major graphql client python: any of: pypi/softozor-graphql-client/**/*
  patch hasura client: any of: pypi/hasura-client/**/*
  minor hasura client: any of: pypi/hasura-client/**/*
  major hasura client: any of: pypi/hasura-client/**/*
  patch test utils: any of: pypi/softozor-test-utils/**/*
  minor test utils: any of: pypi/softozor-test-utils/**/*
  major test utils: any of: pypi/softozor-test-utils/**/*

make all methods public for the sake of flexibility
  nuget/Softozor.HasuraHandling/ActionHandlerWrapper.cs
Due: build, dotnet-tests, patch hasura handling, minor hasura handling, major hasura handling

let HasuraFunctionException possess an error code + refactor ActionHandlerWrapper
  nuget/Softozor.HasuraHandling/ActionHandlerWrapper.cs
  nuget/Softozor.HasuraHandling/Exceptions/HasuraFunctionException.cs
Due: build, dotnet-tests, patch hasura handling, minor hasura handling, major hasura handling

add fusionauth package
  .gitlab-ci.yml
  nuget/Softozor.FusionAuth/AuthClientFactory.cs
  nuget/Softozor.FusionAuth/FaasKeys.cs
  nuget/Softozor.FusionAuth/IAuthClientFactory.cs
  nuget/Softozor.FusionAuth/Properties/AssemblyInfo.cs
  nuget/Softozor.FusionAuth/ServiceCollectionExtensions.cs
  nuget/Softozor.FusionAuth/Softozor.FusionAuth.csproj
  nuget/packages.sln
Due: build, dotnet-tests

expose HasuraClient.endpoint
  pypi/hasura-client/hasura_client/hasura_client.py
Due: lint, patch hasura client, minor hasura client, major hasura client

change project id in documentation
  pypi/jelastic-client/README.md
Due: lint, jelastic-client-tests, patch jelastic client, minor jelastic client, major jelastic client

implement install_from_url method
  .gitlab-ci.yml
  pypi/jelastic-client/jelastic_client/jps_client.py
  pypi/jelastic-client/test/conftest.py
  pypi/jelastic-client/test/test_jps_client.py
Due: lint, jelastic-client-tests, patch jelastic client, minor jelastic client, major jelastic client

install requests package in tests
  pypi/jelastic-client/setup.py
Due: lint, jelastic-client-tests, patch jelastic client, minor jelastic client, major jelastic client

fix tests where non-existent file or url is provided to the install function
  pypi/jelastic-client/jelastic_client/jps_client.py
  pypi/jelastic-client/test/test_jps_client.py
Due: lint, jelastic-client-tests, patch jelastic client, minor jelastic client, major jelastic client

implement environment clone function
  pypi/jelastic-client/jelastic_client/control_client.py
  pypi/jelastic-client/test/conftest.py
  pypi/jelastic-client/test/test_control_client.py
Due: lint, jelastic-client-tests, patch jelastic client, minor jelastic client, major jelastic client

fix autopep8
  pypi/jelastic-client/test/test_control_client.py
Due: lint, jelastic-client-tests, patch jelastic client, minor jelastic client, major jelastic client

fix test of clone_env method
  pypi/jelastic-client/test/test_control_client.py
Due: lint, jelastic-client-tests, patch jelastic client, minor jelastic client, major jelastic client

fix test of clone_env method
  pypi/jelastic-client/jelastic_client/control_client.py
Due: lint, jelastic-client-tests, patch jelastic client, minor jelastic client, major jelastic client

implement start / stop env
  pypi/jelastic-client/jelastic_client/control_client.py
  pypi/jelastic-client/test/test_control_client.py
Due: lint, jelastic-client-tests, patch jelastic client, minor jelastic client, major jelastic client

make sure to delete cloned environment after test run
  pypi/jelastic-client/test/conftest.py
  pypi/jelastic-client/test/test_control_client.py
Due: lint, jelastic-client-tests, patch jelastic client, minor jelastic client, major jelastic client

fix docker login
  .gitlab-ci.yml
Due: none

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

add account client to retrieve current jelastic user's email
  .gitlab-ci.yml
  .idea/.gitignore
  .idea/inspectionProfiles/profiles_settings.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/packages.iml
  .idea/vcs.xml
  pypi/jelastic-client/jelastic_client/account_client.py
  pypi/jelastic-client/jelastic_client/factory.py
  pypi/jelastic-client/jelastic_client/user_info.py
  pypi/jelastic-client/test/conftest.py
  pypi/jelastic-client/test/test_account_client.py
Due: lint, jelastic-client-tests, patch jelastic client, minor jelastic client, major jelastic client

wrap env var management methods
  .idea/misc.xml
  pypi/jelastic-client/jelastic_client/control_client.py
  pypi/jelastic-client/jelastic_client/env_info.py
  pypi/jelastic-client/jelastic_client/node.py
  pypi/jelastic-client/test/conftest.py
  pypi/jelastic-client/test/data/valid_manifest.jps
  pypi/jelastic-client/test/test_control_client.py
  pypi/jelastic-client/test/test_env_info.py
Due: lint, jelastic-client-tests, patch jelastic client, minor jelastic client, major jelastic client

remove wrong fixture
  pypi/jelastic-client/test/conftest.py
Due: lint, jelastic-client-tests, patch jelastic client, minor jelastic client, major jelastic client

test jps installation to specified region
  pypi/jelastic-client/jelastic_client/jps_client.py
  pypi/jelastic-client/test/test_jps_client.py
Due: lint, jelastic-client-tests, patch jelastic client, minor jelastic client, major jelastic client

install manifest from file to specified region
  pypi/jelastic-client/jelastic_client/jps_client.py
  pypi/jelastic-client/test/test_jps_client.py
Due: lint, jelastic-client-tests, patch jelastic client, minor jelastic client, major jelastic client

introduce graphql_response object
  pypi/softozor-graphql-client/softozor_graphql_client/graphql_client.py
  pypi/softozor-graphql-client/softozor_graphql_client/graphql_response.py
Due: lint, patch graphql client python, minor graphql client python, major graphql client python

fix graphql_client.payload definition
  pypi/softozor-graphql-client/softozor_graphql_client/graphql_client.py
  pypi/softozor-graphql-client/softozor_graphql_client/graphql_response.py
Due: lint, patch graphql client python, minor graphql client python, major graphql client python

set http status code in error extension
  nuget/Softozor.HasuraHandling/ActionHandlerWrapper.cs
  nuget/Softozor.HasuraHandling/Data/ActionErrorResponse.cs
Due: build, dotnet-tests, patch hasura handling, minor hasura handling, major hasura handling

use records for json data types + use system.text.json instead of newtonsoft
  nuget/Softozor.HasuraHandling/Data/ActionErrorResponse.cs
  nuget/Softozor.HasuraHandling/Data/ActionRequestPayload.cs
  nuget/Softozor.HasuraHandling/Data/ErrorExtensions.cs
  nuget/Softozor.HasuraHandling/Data/EventRequestPayload.cs
  nuget/Softozor.HasuraHandling/Data/HasuraAction.cs
  nuget/Softozor.HasuraHandling/Data/HasuraClaims.cs
  nuget/Softozor.HasuraHandling/Data/HasuraSessionVariables.cs
  nuget/Softozor.HasuraHandling/Data/Op.cs
  nuget/Softozor.HasuraHandling/Data/OpConverter.cs
Due: build, dotnet-tests, patch hasura handling, minor hasura handling, major hasura handling

remove wrong multiple JsonConstructor attributes
  nuget/Softozor.HasuraHandling/Data/ActionErrorResponse.cs
Due: build, dotnet-tests, patch hasura handling, minor hasura handling, major hasura handling

move input extraction inside try catch block
  nuget/Softozor.HasuraHandling/ActionHandlerWrapper.cs
Due: build, dotnet-tests, patch hasura handling, minor hasura handling, major hasura handling

add action wrapper for actions returning void + remove useless interfaces
  nuget/Softozor.HasuraHandling/ActionHandlerWrapper.cs
  nuget/Softozor.HasuraHandling/Interfaces/IActionHandler.cs
  nuget/Softozor.HasuraHandling/Interfaces/IEventHandler.cs
Due: build, dotnet-tests, patch hasura handling, minor hasura handling, major hasura handling

get rid of ActionHandlerWrapper + restructure HasuraHandling project
  nuget/Softozor.FusionAuth/AuthClientFactory.cs
  nuget/Softozor.GraphqlClient/ClientFactory.cs
  nuget/Softozor.HasuraHandling/ActionHandlerWrapper.cs
  nuget/Softozor.HasuraHandling/ConfigurationManagement/SecretReader.cs
  nuget/Softozor.HasuraHandling/ConfigurationManagement/ServiceCollectionExtensions.cs
  nuget/Softozor.HasuraHandling/ErrorReporter.cs
  nuget/Softozor.HasuraHandling/HasuraFunctionException.cs
  nuget/Softozor.HasuraHandling/ISecretReader.cs
  nuget/Softozor.HasuraHandling/InputHandling.cs
  nuget/Softozor.HasuraHandling/Interfaces/ISyncActionHandler.cs
Due: build, dotnet-tests, patch hasura handling, minor hasura handling, major hasura handling, patch graphql client dotnet, minor graphql client dotnet, major graphql client dotnet

add method ExtractJwt
  nuget/Softozor.HasuraHandling/InputHandling.cs
Due: build, dotnet-tests, patch hasura handling, minor hasura handling, major hasura handling

fix pip install command in readme
  pypi/jelastic-client/README.md
Due: lint, jelastic-client-tests, patch jelastic client, minor jelastic client, major jelastic client

simplify readme: remove unnecessary pip install commands
  pypi/jelastic-client/README.md
Due: lint, jelastic-client-tests, patch jelastic client, minor jelastic client, major jelastic client

refactor conftest + add method generate_random_env_name to ControlClient
  pypi/jelastic-client/jelastic_client/control_client.py
  pypi/jelastic-client/test/conftest.py
  pypi/jelastic-client/test/test_control_client.py
Due: lint, jelastic-client-tests, patch jelastic client, minor jelastic client, major jelastic client
